/*
Style Sheet Name: style_screen.css
Theme URI: http://www.vanalbert.com/
Description: July 2010 design of VanAlbert.com
Author: Van Albert
Version: 1.0
*/

/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html,div,span,
applet,object,iframe,code,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,
del,dfn,font,img,ins,kbd,q,s,samp,
small,strike,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {margin: 0;padding: 0;border: 0;font-weight: normal;font-style: normal;font-family: inherit;text-align: left;
}
table {border-collapse: collapse;border-spacing: 0;
}
ol,ul {list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {content: "";
}

/* clearfix from Lynda.com
-------------------------------------------------------------- */

* { margin: 0; padding: 0; }

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .clearfix { height: 1%; } .clearfix { display: block; } /* close commented backslash hack */

/*
	TYPOGRAPHY
*/
h1, h2, h3, h4, h5 { margin: 0 0 5px 0; font-weight: normal; line-height: 1.5; }
h1, h2 { font-family:  Georgia, "Times New Roman", serif; font-weight: normal; }
h1 { font-size: 28px; text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #ccc; font-weight: normal; text-transform: uppercase; text-align: center;}
.giant { font-size: 90px; }
h2 { font-size: 18px; color: #647484; text-shadow: 1px 1px 0 #d7ddf2, 2px 2px 0 #d7ddf2; text-transform: uppercase; letter-spacing: 5px; background: #e1e1e1; }
h2 em { font: italic Georgia, serif; letter-spacing: 0; color: black; text-transform: none; }
h3 { font-size: 22px; background: #647484; color: white; padding: 0 0 0 20px; }
h4 { font-size: 14px; text-transform: uppercase; letter-spacing: 1px; text-decoration: underline; font-weight: bold; }
h5 { font-size: 14px; line-height: 1.5; }
a { text-decoration: none; color: #647484; }
a img { border: 0; }
.zoomer:active { top: 0; }
.screen-reader-text { position: absolute; top: -9999px; left: -9999px; }

h1 a, h2, h4 a, h5 a { color: black; display: block; }
h3 a { color: white; }
a:hover, a:focus { text-decoration: underline; }
a:active { position: relative; top: 1px; }
p { margin: 0 0 10px 0; }
blockquote { padding: 0 0 0 15px; margin: 0 0 15px 0; font-style: italic; color: #252525; line-height: 1em;}
ul, ol { margin: 0 0 15px 15px; }
ul ul, ul ol, ol ol, ol ul { list-style: none; margin-bottom: 0; }
.button { background-image: -moz-linear-gradient(top, #6b7886, #3b4f63); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #6b7886),color-stop(1, #3b4f63)); padding: 5px 15px; -moz-border-radius: 20px; color: white; font-weight: normal !important; text-transform: uppercase; border: 2px solid white !important; -moz-box-shadow: 1px 1px 3px #666; -webkit-box-shadow: 1px 1px 3px #666; }
.button:hover { background-image: none; background-color: #6b7886; -moz-box-shadow: 0px 0px 2px #999; text-decoration: none !important; }


/*************************************/
/* DOCUMENT AND PAGE */
/*************************************/

html {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	background: #829aa1;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	width: 100%;
	margin: auto;
}

#page-wrap {
	position: relative; 
	/* Changed from 985 */
	width: 900px; 
	margin: 0 auto;
	padding: 20px;
	border-left: 2px double black;
	border-right: 2px double black;
	background-color: #ebebeb;
}

/*************************************/
/* HEADER AND NAVIGATION */
/*************************************/


header {
	position: relative;
	margin: 10px 0 0px 0;
	background-color: #e1e1e1;
	border: 1px double #000000;
}

#main-nav {
	position: relative; 
	top: -1px; 
	width:898px; 
	height: 30px; 
	float: left; 
	margin: 0px 0 30px 0;
	padding: 0;
	z-index: 1;
}

/** The ID name menu-main-nav-menu was generated by WP Custom Menus. Think about reconfiguring this by adding the ID parameter
*   to the custom menu function in functions.php. The original ID names are commented out*/

div#main-nav ul {
	height: 22px; 
	list-style: none; 
	background: #575757 url(images/main-menu-gradient.gif) repeat-x; 
	border-bottom: 1px solid #FFFFFF;
	margin: 0; 
	padding: 0; 
	}

/*nav ul li { */
div#main-nav ul li {
	float: left; 
	margin: 0 0px 0 0; 
}
	
/*nav ul li a , a:visited{*/
div#main-nav ul li a, a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: bold; 
	background: url(images/tabs.gif);
	color: #FFFFFF; 
	display: block; 
	height: 18px; 
	padding: 4px 15px 0 15px;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	text-decoration: none; 
	}

/*nav ul li a:hover {*/
div#main-nav ul li a:hover {
	font-weight: bold; 
	/* background-color: #575757; */
	background-position: 0 -72px; 
	}

div#main-nav ul li.current span {
	background-position: 100% -36px; 
	background-color: none;
	}

div#main-nav ul span {
	/* background: url(images/tabs.gif) 100% 0; */
	display: block; 
	line-height: 2em; 
	padding: 0 0 0px 10px; 
	margin: -3px 0 0px 0;
}

/*************************************/
/* ARTICLE AND CONTENT */
/*************************************/

article, glossary {
	background-color: white;
	border: 1px solid #555555;
	padding: 10px;
}

article a, article a:visited, glossary a, glossary a:visited {
	font-family: Arial, sans serif;
	font-size: 12px;
	font-weight: normal;
	display: inline; 
	height: auto; 
	padding: 0;
	border: none;
	text-decoration: underline; 
	color: #555555;
	background-image: none;
}

article a:hover, glossary a:hover {
	color: blue;
}

article ul, glossary ul {
	list-style: disc;
}

article ul a, article ul a:visited, glossary ul a, glossary ul a:visited {
	font-family: Arial, sans serif;
	font-size: 12px;
	font-weight: normal;
	display: inline; 
	height: auto; 
	padding: 0;
	border: none;
	text-decoration: underline; 
	color: #555555;
	background-image: none;
}

article ul a:hover, glossary ul a:hover {
	color: blue;
}

#note a, #note a:visited {
	font-family: Arial, sans serif;
	font-size: 14px;
	font-weight: normal;
	display: inline; 
	height: auto; 
	padding: 0;
	border: none;
	text-decoration: underline; 
	color: #555555;
	background-image: none;
}


article #links, glossary #links {
	background-color: #ebebeb;
	margin: 0 0 10px 10px;
	padding: 5px;
}

article #note, glossary #note {
	background-color: #e1e1e1;
	margin: 0 0 10px 10px;
	padding: 5px;
}
